.Footer-Site{
   
    align-items: center;
    background-color: $grey35;
    margin-top: 550px;
    z-index: 1;

    ul{
        display: flex;
        justify-content: center;
        
    }
    li{
        margin: 15px 0;
        padding: 0 25px ;
        cursor: pointer;
        
    }
    a{
        color: white;
    }
}

.Footer-logo{
    height: 10vh;
    border-radius: 50%;
    
    margin: 0 47%
}
