.home{
    flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        padding: 18px;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content:baseline;

    a{
        color: $silver;
        margin: 15px 0;
        padding: 0 15px ;
        cursor: pointer;
    }
}
.dashboard{
    flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
        padding: 100px;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content:baseline;

    a{
        color: $silver;
        margin: 25px 0;
        padding: 0 15px ;
        cursor: pointer;
    }
}